.cards {
  display: flex;
  flex-wrap: wrap;
}


.card {
  display: flex;
  align-items: center;
  justify-content: space-between;
	padding: 20px;
  background: white;
  box-shadow: 0px 10px 20px rgba(2,2,2,0.3);
  border-radius: 4px;
  margin: 10px;
  flex-basis: 290px;
}


.card img {
  width: 160px;
border-radius: 6px;
}


.card h3 {
  flex-grow: 1;
  padding-left: 30px;
  font-size: 18px;
}


